# Copy to /etc/systemd/system/cutback.service

[Unit]
Description=Perform system backup

[Service]
Type=simple
ExecStart=/usr/bin/cutback -c /mnt/backup/cutback.yml

