<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%= app.description.gsub('\n', ' ').strip %>">
    <meta name="author" content="Cutback Contributors">
    <title>Cutback Backup System</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <header>
      <h1><%= app.name %></h1>
      <small><%= app.summary %></small>
    </header>
    <nav>
      <ul class="flex-container flex-center">
        <div class="nav-item">
          <li><a href="#overview">Overview</a></li>
        </div>
        <div class="rightborder">&nbsp;</div>
        <div class="nav-item">
          <li><a href="#packages">Packages</a></li>
        </div>
        <div class="rightborder">&nbsp;</div>
        <div class="nav-item">
          <li><a href="<%= app.repository %>">Source</a></li>
        </div>
        <div class="rightborder">&nbsp;</div>
        <div class="nav-item">
          <li><a href="<%= app.issues %>" target="_blank">Issues</a></li>
        </div>
        <div class="rightborder">&nbsp;</div>
        <div class="nav-item">
          <li><a href="<%= app.releases %>" target="_blank">Download</a></li>
        </div>
        <div class="rightborder">&nbsp;</div>
      </ul>
    </nav>
    <main>
      <section>
        <h1>Overview <a href="#overview">#</a></h1>
        <p>Here is a certain amount of copy. Copy copy copy copy cat.
      </section>
      <section>
        <h1>Packages <a href="#packages">#</a></h1>
          <%- app.packages.each do |name, url| -%>
            <li><a href="<%= url %>" target="_blank"><%= name %></a></li>
          <%- end -%>
        </ul>
      </section>
    </main>
    <footer>
      Blah blah copyright
    </footer>
  </body>
</html>

